@model IEnumerable<Tamagotchi_prog.Models.Tamagotchi>

@{
    ViewBag.Title = "Home Page";
}

<body>

    <div class="row">
        <h2>Lijst met Tamagotchi's:</h2><br>

        <ul class="list-inline">
            @foreach (var item in Model)
            {
                <li>
                    <img src="@item.ImageURL" width="110" height="148" /><br>
                    @*<h4>@Html.DisplayFor(modelItem => item.Name)</h4><br>*@
                    <h4>@Html.ActionLink(item.Name, "Details", new { name = item.Name })</h4>
                </li>
            }
        </ul>

        <hr>

        <h3>Maak een nieuwe Tamagotchi aan:</h3>

        @using (Html.BeginForm("Create", "Home"))
        {
            <div class="form-inline">
                <input type="text" name="name" id="name" class="form-control">
                <input type="submit" class="btn btn-default" value="Create">   
            </div>
        }


        <h2>Tamagotchi Kerkhof</h2>

        <ul class="list-inline">
            @foreach (var item in ViewBag.DeadTamagotchis)
            {
                <li>
                    <img src="@item.ImageURL" width="110" height="148" /><br>
                    <h4>@item.Name</h4>
                </li>
            }
        </ul>



    </div>

</body>
